CREATE DATABASE QUANLYCHUYENBAY

USE QUANLYCHUYENBAY

-- Tạo bảng chuyến bay
CREATE TABLE CHUYENBAY
(
	MaCB CHAR(5) PRIMARY KEY NOT NULL,
	GaDi VARCHAR(50),
	GaDen VARCHAR(50), 
	DoDai int,
	GioDi time,
	GioDen time,
	ChiPhi int, 
);
-- Nhập dũ liệu của chuyến bay

INSERT INTO CHUYENBAY VALUES('VN431', 'SGN', 'CAH', 3693, '05:55', '06:55', 236)
INSERT INTO CHUYENBAY VALUES('VN320', 'SGN', 'DAD', 2798, '06:00', '07:10', 221)
INSERT INTO CHUYENBAY VALUES('VN464', 'SGN', 'DLI', 2002, '07:20', '08:05', 225)

SELECT *FROM CHUYENBAY
-- Tạo bảng loại máy bay
CREATE TABLE MAYBAY
(
	MaMB int PRIMARY KEY NOT NULL,
	LoaiMB varchar(50),
	TamBay int,
);

INSERT INTO MAYBAY VALUES(747, 'Boeing 747 - 400', 13488)
INSERT INTO MAYBAY VALUES(737, 'Boeing 737 - 800', 5413)
INSERT INTO MAYBAY VALUES(340, 'Airbus A340 - 300', 11392)

SELECT *FROM MAYBAY
-- Tạo bảng nhân viên
CREATE TABLE NHANVIEN
(
	MaNV char(9) PRIMARY KEY NOT NULL,
	TENNV varchar(20), 
	Luong int,
);

-- Nhập dữ liệu
INSERT INTO NHANVIEN VALUES('242518965', 'Tran Van Son', 120433)
INSERT INTO NHANVIEN VALUES('141582651', 'Doan Thi Mai', 178345)
INSERT INTO NHANVIEN VALUES('011564812', 'Ton Van Quy', 153972)

SELECT *FROM NHANVIEN
-- Tạo bảng chứng nhận 
CREATE TABLE CHUNGNHAN
(
	MaNV char(9),
	MaMB int,
	CONSTRAINT RB_NV_MB PRIMARY KEY(MaNV, MaMB),
	CONSTRAINT RB_MaNV FOREIGN KEY(MaNV) REFERENCES NHANVIEN(MaNV), -- khóa ngoại
	CONSTRAINT RB_MaMB FOREIGN KEY(MaMB) REFERENCES MAYBAY(MaMB), -- Khóa ngoại 
);
-- nhập dữ liệu bảng chứng nhận
 
INSERT INTO CHUNGNHAN VALUES('567354612', 747)
INSERT INTO CHUNGNHAN VALUES('567354612', 737)
INSERT INTO CHUNGNHAN VALUES('567354612', 757)












SELECT *FROM CHUNGNHAN
